/* Styling for menu section of index.html */
#game-list {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  grid-gap: 10%;
}

.game-selection {
  width: 150px;
  height: 150px;
  margin: auto auto;
}

.game-selection img {
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
  object-fit: contain;
}

.background-card {
  background-color: #282828;
  border-radius: 20px;
}